.navbar img{
    width: 5%;
}

.welcome{
    background-image: url('/img/background.avif');
    background-position: center center;
    background-size: cover;
}

.profile-picture{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}